:root {
  --primary: #fea632;
  --white: #fff;
  --black: #000000;
  --lightBlack: #2f313f;
  --dark: #35424f;
  --grey: #909394;
  --blue: #0000ff;
  --asideOverlay: #00000080;
  --asideMenuBackground: #fcfaee;
}
