@use "../../../styles//utils/" as u;

.burger {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  width: 3rem;
  height: 2rem;

  &__line {
    width: 3rem;
    height: 0.12rem;
    border-radius: 0.625rem;
    transition: all 0.3s linear;
    background-color: var(--white);
  }
  &__line.--active {
    &:nth-child(1) {
      transform: translateX(-5px);
    }

    &:nth-child(3) {
      transform: translateX(-5px);
    }
  }

  @include u.breakpoint(laptop) {
    display: none;
  }
}
