.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 100%;
  // opacity: 1;
  z-index: 2;
  overflow-y: visible;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--white);

  &__container {
    width: 100%;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: var(--dark);
    }

    &__navigation {
      padding: 0 2rem;
      &__unorderList {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0;
        padding: 2rem 0;
        border-bottom: 1px solid var(--grey);

        &__block {
          display: flex;
          flex-direction: column;

          &__categoryTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__listItem {
              font-size: 1.3rem;
              font-weight: 600;
              color: var(--black);
            }

            &__icon {
              transform: rotate(0deg);
              transition: 0.3s ease-in-out 0s;
            }

            &__icon.--active {
              transform: rotate(-180deg);
            }
          }

          &__subNav {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.8rem 2rem;

            &__listItem {
              font-size: 1.2rem;
              color: var(--lightBlack);
            }
          }
        }
      }
      &__contactsBlock {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;

        &__contactBlock {
          display: flex;
          gap: 1rem;

          &__link {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--black);
          }
        }
      }
    }
  }
}

.sideBar.--active {
  display: flex;
  left: 0;
  --webkit-transtition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: 5;
}
