@use "../../../styles//utils/" as u;

.duruRemontas {
  display: flex;
  justify-content: center;
  margin-top: 6rem;

  .wrapper {
    max-width: 70rem;
    padding: 2rem;

    @include u.breakpoint(laptop) {
      width: 70rem;
    }

    .list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0;

      .item {
        display: flex;
        gap: 0.2rem;
        font-weight: 500;
      }
    }
    .paragraph {
      text-align: justify;
      font-weight: 700;

      @include u.breakpoint(laptop) {
        text-align: center;
      }
    }
  }
}
