@use "../../styles//utils/" as u;

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark);

  .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    max-width: 70rem;

    @include u.breakpoint(laptop) {
      display: grid;
      grid-template-columns: 2fr 1.2fr 2fr;
    }
    .about {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;

      .paragraph {
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: var(--white);
      }
    }

    .menu {
      padding: 1rem 2rem;
      .title {
        font-size: 1.4rem;
        margin: 0;
        color: var(--white);
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 1rem;

        .item {
          color: var(--white);
        }
        .item:hover {
          color: var(--primary);
        }
      }
    }

    .contacts {
      padding: 1rem 2rem;
      .title {
        font-size: 1.4rem;
        margin: 0;
        color: var(--white);
      }
      .data {
        padding-top: 1rem;
        .name {
          font-size: 1.2rem;
          margin-top: 1rem;
          padding: 1rem;
          color: var(--white);
        }
        .list {
          padding: 0 1rem;

          .item {
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style: none;
            font-size: 1.1rem;
            color: var(--white);
          }
        }
      }
    }
  }
}
