@use "../../styles//utils/" as u;

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark);

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    max-width: 70rem;

    @include u.breakpoint(laptop) {
      display: grid;
      grid-template-columns: 2fr 1.2fr 2fr;
    }
    &__about {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;

      &__image {
        height: 4rem;
        width: fit-content;
      }

      &__paragraph {
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: var(--white);
      }
    }

    &__menu {
      padding: 1rem 2rem;
      &__title {
        font-size: 1.4rem;
        margin: 0;
        color: var(--white);
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 1rem;

        &__item {
          color: var(--white);
        }
        &__item:hover {
          color: var(--primary);
        }
      }
    }

    &__contacts {
      padding: 1rem 2rem;
      &__title {
        font-size: 1.4rem;
        margin: 0;
        color: var(--white);
      }
      &__data {
        padding-top: 1rem;
        &__name {
          font-size: 1.2rem;
          margin-top: 1rem;
          padding: 1rem;
          color: var(--white);
        }
        &__list {
          padding: 0 1rem;

          &__item {
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style: none;
            font-size: 1.1rem;
            color: var(--white);
          }
          &__icon {
            height: 3rem;
          }
        }
      }
    }
  }
}
