@use "../../../styles//utils/" as u;

.logoSection {
  display: flex;
  justify-content: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 70rem;
    margin: 2rem;

    @include u.breakpoint(laptop) {
      flex-direction: row;
    }
  }
}
